//Variables
$background-color: #f2f2f2;
$primary-color: #000;
$primary-color-lighter: #525254;
$placeholder-color: #9b9b99;
$white: #fff;
$secondary-color: #6bd300;

$box-shadow-actions: #5bb104;
$box-shadow-inputs: #d9d9d9;
